* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.nav,
.banner,
.register,
.services,
.projects,
.gallery,
.footer {
	padding: 30px;
}

/*start nav*/
.nav {
	background-color: #fff;
	height: 100vh;
	width: 200px;
	position: fixed;
}

.logo {
	width: 140px;
	height: 140px;
	/*background-color: grey;*/
	/*background-image: url("https://media.giphy.com/media/ASd0Ukj0y3qMM/giphy.gif");*/
	background-image: url("../images/sbLogo.png");
	background-size: cover;
	background-position: center center;
	margin: 0 auto; /*center this element horizontally*/
	border-radius: 100%;
	margin-bottom: 10px;
}
ul >li {
	text-decoration: none;
	background-color: skyblue;
	margin-bottom: 10px;
	line-height: 48px; /*base font size = 16px. 16*3 = 48px*/
	text-align: center;
	list-style: none;
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

ul > li > a {
	text-decoration: none;
}

ul > li:hover {
	background-color: black;
	transition: 1s;
}

 ul > li:hover a {
 	color: white;
}
 .icon-nav {
 	display: none;
 }

 ul > li:hover .icon-nav {
 	display: inline;
 }

/*end nav*/

/*start main*/
.main {
	background-color: lightgrey;
	margin-left: 200px;
}

.banner {
	/*background-color: #67D1E3;*/
	background-image: url("../images/bg2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100vh;
	position: relative;
}

.box {
	border: 5px solid #fff;
	text-align: center;
	width: 400px;
	padding: 40px;	
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

h1 {
	font-family: 'Raleway', sans-serif;
}

.down a {
	text-decoration: none;
	color: #333;
}

.down {
	position: absolute;
	bottom: 0;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
/*	background-color: red;
	opacity: 0.5;*/
	background-color: rgba(97, 203, 217, 1);
	padding: 10px 50px;
	border-radius: 10px;
}

#back {
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 10;
}

.banner:hover ~ #back {
	z-index: -9999;
}
/*end banner*/

/*start register*/
.register {
	background-color: indianred;
	height: 100vh;
	position: relative;
}

form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	background-color: rgba(255,255,255, 0.75);
	padding: 30px;
	border-radius: 10px;
	color: #333;
}

.form-control {
	width: 100%;
	height: 30px;
	margin-bottom: 15px;
	border-radius: 5px;
}

.alert {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	display: none;
	/*visibility: hidden;*/
}

.alert-e {
	background-color: green;
	color: white;
	text-align: center;
	padding: 5px;
	width: 50%;
	margin: 0 auto;
	display: none;
	/*visibility: hidden;*/
}

#name:focus {
	background-color: lightblue;
}

#name:focus ~ .alert {
	display: block;
	/*visibility: visible;*/
}
#email:focus ~ .alert-e {
	display: block;
	/*visibility: visible;*/
}

.btn-block {
	width: 100%;
	text-align: center;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: green;
	color: white;
}
/*end register*/

/*start services*/
.services {
	background-color: midnightblue;
	height: 100vh;
}
/*end services*/

/*start projects*/
.projects {
	background-color: crimson;
	height: 100vh;
}
/*end projects*/

/*start gallery*/
.gallery {
	background-color: orange;
	height: 100vh;
}
/*end gallery*/

/*start footer*/
.footer {
	background-color: green;
	height: 50px;
}
/*end footer*/


/*end main*/


















/*media queries*/
/*mobile view*/
@media only screen and (max-width: 400px) {
	h1 {
		background-color : red;
	}

	.nav {
		display: none;
	}

	.main {
		margin-left: 0;
	}

	.box {
		width: 90%;
	}

	.banner {
		background-color: #00b7ff;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
	}

}

/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	h1 {
		background-color : yellow;
	}

	.nav {
		background-color: yellow;
	}

}

/*desktop view*/
@media only screen and(min-width: 961px) {

}






/*grid system*/
.container {
	width: 960px; /*so that the layout wont expand extensively in very wide displays*/
	margin: 0 auto;
}

[class*="col"] {
	border: 5px solid black;
	float: left;
}




/*mobile*/
@media only screen and (max-width: 400px) {

}


/* tablet view */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}


/*desktop*/
@media only screen and (min-width: 961px) {

}











