* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.left {
	background-color: red;
}

.right {
	background-color: blue;
}

#bread-list {
	background-color: red;
	color: white;
}

.alert-heading {
	background-color: black;
	color: white;
}

#warn {
	width: 75%;
}

#suc {
	width: 95%;
}

#inf {
	width: 100%;
}









