* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 960px; /*so that our layout will not be too stretched on super wide screens*/
	margin: 0 auto;
	/*background-color: red;*/
	/*height: 100vh;*/
}
.btn { 
	background-color: red;
	width: 100%;
}

.header {
	/*height: 150px;*/
	background-color: darkviolet;
}

.main {
	height: 700px;
	background-color: lightgrey;
}

.footer {
	height: 100px;
	background-color: skyblue;
}


.grid > .clm {
	height: 1060px;
	width: 7.33%; /*100% / 12 minus 1% (for the horizontal margin)*/
	margin-left: 0.5%;
	margin-right: 0.5%;
	background-color: #efefef;
	float: left;
	opacity: 0.4;
	padding-top: 530px; /*1060/2 this centers the column label vertically*/
	text-align: center;
}

h1 {
	text-align: center;
	height: 200px;
}

.grid {
	position: relative;
	top: -960px;
}

[class*="col"] {
	float: left;
}

.row:after {
	content: " ";
	display: block;
	clear: both;
}

/*large screen grid*/
.col-lg-1 {
	width: 8.33%; /*100% /12 */
}

.col-lg-2 {
	width: 16.66%; /*100% /12 * 2 columns */
}

.col-lg-3 {
	width: 25%; /*100% /12 * 3 columns */
}

.col-lg-4 {
	width: 33.33%; /*100% /12 * 4 columns */
}

.col-lg-5 {
	width: 41.66%; /*100% /12 * 5 columns */
}

.col-lg-6 {
	width: 50%; /*100% /12 * 6 columns */
}

.col-lg-7 {
	width: 58.33%; /*100% /12 * 7 columns */
}

.col-lg-8 {
	width: 66.66%; /*100% /12 * 8 columns */
}

.col-lg-9 {
	width: 75%; /*100% /12 * 9 columns */
}

.col-lg-10 {
	width: 83.33%; /*100% /12 * 10 columns */
}

.col-lg-11 {
	width: 91.66%; /*100% /12 * 11 columns */
}

.col-lg-12 {
	width: 100%; /*will take up the whole 12 columns*/
}

/*tablet view*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.col-md-1 {
		width: 8.33%; /*100 /12*/
	}
	.col-md-2 {
		width: 16.66%; /*100 / 12 x 2*/
	}
	.col-md-3 {
		width: 25%; /*100% /12 * 3 columns */
	}

	.col-md-4 {
		width: 33.33%; /*100% /12 * 4 columns */
	}

	.col-md-5 {
		width: 41.66%; /*100% /12 * 5 columns */
	}

	.col-md-6 {
		width: 50%; /*100% /12 * 6 columns */
	}

	.col-md-7 {
		width: 58.33%; /*100% /12 * 7 columns */
	}

	.col-md-8 {
		width: 66.66%; /*100% /12 * 8 columns */
	}

	.col-md-9 {
		width: 75%; /*100% /12 * 9 columns */
	}

	.col-md-10 {
		width: 83.33%; /*100% /12 * 10 columns */
	}

	.col-md-11 {
		width: 91.66%; /*100% /12 * 11 columns */
	}

	.col-md-12 {
		width: 100%; /*will take up the whole 12 columns*/
	}

}

@media only screen and (max-width: 400px) {
	.container {
		width: 100vw;
	}
	.col-1 {
		width: 8.33%; /*100 /12*/
	}
	.col-2 {
		width: 16.66%; /*100 / 12 x 2*/
	}
	.col-3 {
		width: 25%; /*100% /12 * 3 columns */
	}

	.col-4 {
		width: 33.33%; /*100% /12 * 4 columns */
	}

	.col-5 {
		width: 41.66%; /*100% /12 * 5 columns */
	}

	.col-6 {
		width: 50%; /*100% /12 * 6 columns */
	}

	.col-7 {
		width: 58.33%; /*100% /12 * 7 columns */
	}

	.col-8 {
		width: 66.66%; /*100% /12 * 8 columns */
	}

	.col-9 {
		width: 75%; /*100% /12 * 9 columns */
	}

	.col-10 {
		width: 83.33%; /*100% /12 * 10 columns */
	}

	.col-11 {
		width: 91.66%; /*100% /12 * 11 columns */
	}

	.col-12 {
		width: 100%; /*will take up the whole 12 columns*/
	}
}






