* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*#blue-id {
	width: 50%;
}*/

div {
	width: 100px;
	height: 100px;
	border: 1px solid black;
/*	border-width: 1px;
	border-style: solid;
	border-color: black;*/
	position: absolute;	
}

.blue {
	background-color: blue;
	top: 20px;
	left: 20px;
	/*width: 500px;*/
}

.yellow {
	background-color: yellow;
	top: 40px;
	left: 40px;
}

.orange {
	background-color: orangered;
	top: 60px;
	left: 60px;
}








