/*css reset*/
* {
	margin: 0;
	/*margin: 20px 50px;*/
	padding: 0;
	box-sizing: border-box;
}

div {
	padding: 20px;
}

.grandparent {
	background-color: skyblue;
	position: fixed;
	/*margin-top: 100px;*/
}

.parent {
	background-color: pink;
	/*position: relative;*/
}

p {
	/*margin-top: -20px;*/
	margin-left: 50px;
	/*padding-left: 50px;*/
	/*position: static;*/
}

input[name="submit"] {
	margin-left: 20px;
}

strong {
	/*position: relative;*/
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: yellow;
	/*left: 50px;*/
/*	top: 100px;
	left: 100px;*/
}

/*strong {
	padding: 50px;
	background-color: green;
}*/

/*
- the width of inline elements follows the width
of the elements inside it
- vertical margin/paddings for inline elements do not apply

*/
/*span {
	background-color: red;
	padding: 50px;
}*/
/*
- block elements will take up the whole row as its width
- margins/paddings for block elements apply to all sides
*/
/*
div {
	background-color: blue;*/
	/*padding: 50px;*/
	/*margin: 50px;*/
/*}*/

/* in css, we have 4 ways of controlling the position of elements
- static
- relative
- absolute
- fixed
*/














