* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	position: fixed;
	background-color: grey;
	padding: 10px;
	width: 100%; 
	z-index: -1;
}

p {
	position: relative;
	background-color: #efefef;
	height: 1000px;
	z-index: -5;
}

